  <div class="asteroid my-28 place-items-center">
    <div class="circle">
      <div class="shadow"></div>
      <div class="reflection"></div>
      <div class="pattern">
        <div class="dot">
          <div class="d1"></div>
          <div class="d2 small"></div>
          <div class="d3 special"></div>
          <div class="d4 small"></div>
          <div class="d5"></div>
          <div class="d6"></div>
          <div class="d7 special"></div>
          <div class="d8 small"></div>
          <div class="d9"></div>
          <div class="d10 small"></div>
          <div class="d11 special"></div>
          <div class="d12 small"></div>
        </div>
      </div>
    </div>
    <div class="tail">
      <div class="t1">
        <div class="dash"></div>
      </div>
      <div class="t2">
        <div class="dash2"></div>
      </div>
      <div class="t3">
        <div class="dash3"></div>
      </div>
      <div class="t4">
        <div class="dash4"></div>
      </div>
    </div>
  </div>
  <div class="pulse">
    <div class="p1"></div>
    <div class="p2"></div>
    <div class="p3"></div>
  </div>
